
 body {
       background-color: burlywood;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: bold;
           
            font-family: Arial, sans-serif;
        }

h1{
    text-align: center;
    color: brown;
}
.Counting{
    background-color: rgb(225, 243, 227);
    color: blue;
    width: 150px;
    height: 150px;
    font-size: 100px;
     border-radius: 15px;
     text-align: center;
    
    
}

button{
    width: 70px;
    height: 70px;
    font-size: 50px;
    background-color: aquamarine;
    gap: 50;
    border-radius: 10px;
   
}


.twoBtns{
    display: flex;
 justify-content: center;
 gap: 50px;
 margin-top: 10px;
}
